<style>
    footer{
        background-color: grey;
    }
</style>

<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Tento blog je studentským projektem
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> Jan Zahradník</a>
      </div>
  </footer>