<footer>
    <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-6  cizgi">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-light text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Jan Zahradník</h5>
                            <p class="d-inline lead">© 2020 Copyright: Jan Zahradník<br>
                                <a href="#" class="text-light d-block lead">Tento blog je studentským projektem</a>
                            </p>

                        </div>
                    </div>
                </div>


                <div class="col-6">
                    <div class="card bg-secondary border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Socialní média</h5>

                            <a class="text-light" href="#"><i class="fab fa-facebook-f fa-lg"></i></a>

                            <a class="text-light" href="#"><i class="fab fa-instagram fa-lg"></i></a>

                            <a class="text-light" href="#"><i class="fab fa-linkedin-in fa-lg"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>