<header>
    <!--- Navbar --->
    <nav class="navbar  navbar-expand-lg mr-2 ">
        <div class="container">
            <a class="navbar-brand text-white" href="#"><i class="fas fa-newspaper fa-lg mr-2"></i></i>BLOG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                aria-controls="nvbCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nvbCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="/"><i class="fa fa-home fa-fw mr-1"></i>Doma</a>
                    </li>
                  
                   
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="/users/logout"><i class="fas fa-sign-out-alt fa-fw mr-1"></i></i>Odhlásit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>